<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Search Course</h1>
            </div>
            <br>

            <form method="POST">

                <label for="name">Course Tags</label>
                <div class="form-row">
                    <input class="form-control" type="text" placeholder="Course Tags" id="course_tags" name="course_tags">
                </div>
                <div class="form-row">
                    <small id="description" class="form-text text-muted">Paste Course Tags (Comma Seprated) whose learners you want to find.</small>
                </div>
                <br>
                <button type="submit " class="btn btn-primary " style="float:right ">Search</button>
            </form>
            <br>
            <br>
            <br>
            <div class="form-row">
              <p>{{result_description}}</p>
            </div>
            <div class="form-row">
              <table style="width:100%">
                <tr>
                  <th>Courses</th>
                  <th>Find Learners</th>
                </tr>
                {% for item in courses_detail %}
                <tr>
                  <td><a href={{item}}>{{item}}</a></td>
                  <td>
                    <form action="{{ url_for('search_buddy_form') }}" method="POST">
                      <input type="hidden" id="course_url" name="course_url" value="{{item}}">
                      <input type="hidden" id="english" name="english" value="on">
                      <input type="hidden" id="hindi" name="hindi" value="on">
                      <button type="submit " class="btn btn-primary " style="float:right ">Search Buddies</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
</body>

</html>
