<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Search Buddy</h1>
            </div>
            <br>

            <form method="POST">

                <label for="name">Course URL</label>
                <div class="form-row">
                    <input class="form-control" type="text" placeholder="Course URL" id="course_url" name="course_url">
                </div>
                <div class="form-row">
                    <small id="description" class="form-text text-muted">Paste Course URL whose learners you want to find.</small>
                </div>
                <br>
                <div class="form-row">
                    <label for="author">Select Preferred Languages</label>
                </div>
                <br>
                <div class="form-row ">
                    <label for="published">English</label>
                    <input class="form-control " type="checkbox" placeholder="English" id="english" name="english">
                </div>
                <div class="form-row ">
                    <label for="published">Hindi</label>
                    <input class="form-control " type="checkbox" placeholder="Hindi" id="hindi" name="hindi">
                </div>
                <br>
                <button type="submit " class="btn btn-primary " style="float:right ">Search</button>
            </form>
            <br>
            <br>
            <br>
            <div class="form-row">
              <p>{{result_description}}</p>
            </div>
            <div class="form-row">
              <table style="width:100%">
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email Address</th>
                  <th>Languages</th>
                </tr>
                {% for item in students_detail %}
                <tr>
                  <td>{{item['first_name']}}</td>
                  <td>{{item['last_name']}}</td>
                  <td><a href="mailto:{{item['email_address']}}">{{item['email_address']}}</a></td>
                  <td>{{item['languages']}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
              {% if students_detail==[] and course_url!='' %}
              <br>
              <br>
              <br>
              <div class="form-row align-items-center justify-content-center">
                  <p>Sorry! No student registered for this course currently.</p>
              </div>
              <div class="form-row align-items-center justify-content-center">
                  <p>Register yourself to be discovered by others.</p>
              </div>
              <div class="form-row align-items-center justify-content-center">
              <form action="{{ url_for('add_course_form') }}" method="GET">
                <input class="form-control" type="hidden" placeholder="Course URL" id="course_url" name="course_url", value="{{course_url}}">
                <button type="submit " class="btn btn-primary" style="float:right ">Add Course</button>
              </form>
              </div>
              {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
</body>

</html>
